.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header {
  width: 960px;
  font-family: 'Sedgwick Ave', cursive;
  margin: auto;
  color: #000; }
  header nav {
    font-family: 'Sedgwick Ave', cursive; }
    header nav ul li {
      display: inline-block;
      float: left;
      margin: 15px;
      padding-right: 5px;
      padding-bottom: 5px; }
      header nav ul li a {
        font-size: 16px;
        text-transform: uppercase;
        color: #000;
        font-weight: 800; }
    header nav .active {
      color: #cc8400; }
    header nav ul li a {
      padding-bottom: 5px;
      border-bottom: 2px solid; }
  header .active {
    color: #cc8400; }

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 25px;
  width: 960px;
  margin: 0 auto;
  height: 300px;
  color: #fff;
  background-color: #333; }
  footer nav {
    clear: both;
    font-family: 'Sedgwick Ave', cursive; }
    footer nav ul li {
      display: inline-block;
      float: left;
      margin: 15px;
      padding-right: 5px;
      padding-bottom: 5px; }
      footer nav ul li a {
        font-size: 16px;
        text-transform: uppercase;
        color: #000;
        font-weight: 800; }
    footer nav .active {
      color: #cc8400; }
    footer nav ul li a {
      color: #fff; }
  footer .col-f {
    width: 420px; }
  footer .f-contact {
    float: right; }
  footer .f-more {
    float: left; }
    footer .f-more p {
      line-height: 2.0; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body ul {
    list-style: none; }
    body ul li a {
      text-decoration: none; }
      body ul li a:hover {
        cursor: pointer; }

#header-home {
  background: url(http://lorempixel.com/960/350/city/1/) no-repeat;
  height: 350px; }
  #header-home .h-tagline {
    padding-top: 20px;
    clear: both;
    text-align: center;
    color: #fff; }
    #header-home .h-tagline p, #header-home .h-tagline a, #header-home .h-tagline h1 {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-weight: 700; }
    #header-home .h-tagline a {
      margin-top: 40px;
      color: #fff;
      text-decoration: none; }
    #header-home .h-tagline h1 {
      margin-bottom: 60px; }
    #header-home .h-tagline .btn-h {
      width: 40%;
      margin: auto;
      text-align: center;
      padding: 10px 20px;
      border: 2px solid #fff; }

#container {
  width: 960px;
  margin: auto; }
  #container p {
    font-family: 'Muli', sans-serif;
    font-size: 17px; }
  #container h2, #container h3, #container h4 {
    text-align: center;
    font-family: 'Muli', sans-serif; }
  #container .col-th {
    height: 250px;
    float: left;
    width: 33.3333333333%;
    padding: 10px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

#header-news .header-img {
  background: url(http://lorempixel.com/960/200/city/3/) no-repeat;
  height: 200px; }
  #header-news .header-img h2 {
    padding: 0 0 0 40px;
    color: #cc8400; }
  #header-news .header-img p {
    padding: 25px 0 0 35px; }

.r-news {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 320px;
  padding: 10px 25px; }
  .r-news .col-th h2 {
    padding-left: 140px; }

.r-services {
  background: #eee;
  text-align: center;
  height: 350px;
  margin-bottom: -25px; }
  .r-services h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 20px; }
  .r-services .ser-group {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .r-services .ser {
    width: 150px;
    float: left;
    margin: 0 20px; }
    .r-services .ser img {
      width: 45%; }
    .r-services .ser .ser-img {
      padding-bottom: 30px;
      border: #000 1px solid; }
    .r-services .ser h3 {
      text-align: center; }
  .r-services a {
    text-decoration: none;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    background: #eead45; }

.r-w-img {
  height: 300px;
  background: url(http://lorempixel.com/960/300/people/3/) no-repeat;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  margin-top: -20px; }
  .r-w-img h2 {
    padding: 10px 20px;
    font-family: 'Sedgwick Ave', cursive; }
  .r-w-img p {
    padding-top: 60px;
    font-family: 'Sedgwick Ave', cursive;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.r-partners {
  height: 300px; }
  .r-partners .par {
    float: left;
    width: 33.3333333333%;
    text-align: center; }
    .r-partners .par a {
      color: #fff;
      background: #111;
      padding: 2px 5px;
      margin-left: -2px;
      font-weight: 800; }
      .r-partners .par a:hover {
        color: #111;
        background: #fff;
        border: 1px solid #111; }
      .r-partners .par a.mak {
        background: #cc8400; }
        .r-partners .par a.mak:hover {
          color: #cc8400;
          background: #fff; }
  .r-partners h2 {
    text-align: center; }
  .r-partners p {
    margin: 0px;
    margin-bottom: 5px; }

.r-form {
  background: url(http://lorempixel.com/960/300/nature/2/);
  height: 300px; }
  .r-form h2 {
    text-align: center;
    color: #fff;
    padding-top: 30px; }
  .r-form fieldset {
    border: none; }
  .r-form fieldset.fs-l, .r-form fieldset.fs-r {
    width: 440px;
    margin-top: 25px; }
  .r-form .fs-l {
    float: left; }
    .r-form .fs-l .d-i {
      float: right; }
      .r-form .fs-l .d-i input {
        height: 30px; }
        .r-form .fs-l .d-i input:focus {
          border: 2px green solid; }
      .r-form .fs-l .d-i input[type="text"] {
        margin-bottom: 32px; }
    .r-form .fs-l input {
      display: block; }
  .r-form .fs-r {
    float: right; }
    .r-form .fs-r button {
      bottom: 0; }
    .r-form .fs-r textarea {
      resize: none; }

.news-main {
  width: 550px;
  float: left; }
  .news-main .btn-more {
    display: block;
    background: #3232ff;
    color: #fff;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-weight: 800; }
  .news-main .post-img {
    width: 180px;
    float: left; }
  .news-main .post-content {
    width: 370px;
    float: right; }
  .news-main .news-post {
    margin-top: 10px;
    border-bottom: 1px solid blue; }
    .news-main .news-post .post-img {
      text-align: center; }
    .news-main .news-post .post-content h3 {
      margin-top: 5px; }
    .news-main .news-post .post-content em, .news-main .news-post .post-content span {
      font-size: 14px; }
    .news-main .news-post .post-content span {
      color: #555; }

.news-aside {
  width: 400px;
  float: right; }
  .news-aside ul {
    background: #e5e5ff;
    width: 325px;
    margin-left: 25px;
    padding-left: 0; }
    .news-aside ul li {
      padding-left: 0px; }
      .news-aside ul li a {
        color: #000;
        padding: 7px;
        padding-left: 10px;
        display: block; }
        .news-aside ul li a:hover {
          cursor: pointer;
          border-left: 4px solid #3232ff;
          background: #9999ff; }
    .news-aside ul li:first-child a {
      background: #fff;
      cursor: default; }
      .news-aside ul li:first-child a:hover {
        border-left: none; }
  .news-aside .news-archive {
    margin-left: 25px;
    width: 325px;
    height: 150px;
    text-align: center;
    background: url(http://lorempixel.com/325/150/abstract/7/); }
    .news-aside .news-archive h4 {
      color: #fff;
      font-size: 24px;
      padding-top: 25px;
      margin-bottom: 10px; }
  .news-aside select {
    padding: 5px; }

.about-info {
  height: 450px;
  background: #eee; }
  .about-info ul li {
    margin-top: 15px; }
    .about-info ul li a {
      text-transform: capitalize;
      color: #000; }
      .about-info ul li a:hover {
        color: #666; }

.r-about {
  height: 275px; }
  .r-about .col-th article.news-post {
    background: #ddd;
    position: relative;
    top: -56px;
    border: 2px solid #9999ff; }
    .r-about .col-th article.news-post h2 {
      background: #fff;
      padding: 8px;
      text-align: left;
      margin-top: 0px; }
    .r-about .col-th article.news-post h3, .r-about .col-th article.news-post p {
      margin: 5px; }
    .r-about .col-th article.news-post p {
      font-size: 12px; }
    .r-about .col-th article.news-post h3 {
      margin-top: 0;
      font-size: 16px; }
    .r-about .col-th article.news-post em, .r-about .col-th article.news-post span {
      font-size: 10px; }
    .r-about .col-th article.news-post .post-img {
      text-align: center; }
  .r-about .col-th .post-content {
    padding: 5px 10px; }

.services-page .r-services {
  height: 800px;
  padding-top: 30px; }
  .services-page .r-services .ser-group {
    margin-top: 30px; }
  .services-page .r-services .ser {
    width: 200px;
    float: left;
    margin: 0 20px; }

/*# sourceMappingURL=app.css.map */
