.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header {
  font-family: 'Lato', sans-serif; }
  header h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  header nav ul {
    list-style: none;
    float: right; }
    header nav ul li {
      display: inline-block;
      float: left;
      margin: 15px;
      padding-right: 5px;
      border-bottom: 2px solid #fff;
      padding-bottom: 5px; }
      header nav ul li a {
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff; }

footer {
  width: 960px;
  margin: 0 auto;
  height: 400px;
  background-color: #333; }

.f-content {
  float: left; }

.f-more {
  float: left; }

.col-f-min {
  float: left;
  width: 50%; }

.col-f {
  width: 50%; }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body a {
    text-decoration: none; }
    body a:hover {
      cursor: pointer; }

#header-home {
  background: url(http://lorempixel.com/960/400/city/6/) no-repeat;
  width: 960px;
  margin: auto;
  height: 400px; }

#container {
  width: 960px;
  margin: auto; }

.r-news {
  font-family: 'Raleway', sans-serif; }
  .r-news .col-th {
    height: 250px;
    float: left;
    width: 33.33333%;
    padding: 10px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .r-news .col-th h2 {
      padding-left: 140px; }

.r-services {
  background: #eee;
  text-align: center;
  height: 350px; }
  .r-services h2 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16px;
    padding-top: 20px; }
  .r-services .ser-group {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .r-services .ser {
    width: 150px;
    float: left;
    margin: 0 20px; }
    .r-services .ser img {
      width: 45%; }
    .r-services .ser .ser-img {
      padding-bottom: 30px;
      border: #000 1px solid; }
    .r-services .ser h3 {
      text-align: center; }
  .r-services a {
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    background: #eead45; }

.r-w-img {
  height: 300px;
  background: url(http://lorempixel.com/960/300/people/3/) no-repeat;
  font-family: 'Josefin Slab', serif;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center; }
  .r-w-img h2 {
    padding: 10px 20px; }
  .r-w-img p {
    font-family: 'Raleway', sans-serif;
    padding-top: 60px; }

.r-partners .ptn {
  float: left;
  width: 33.33333%; }

.r-form {
  height: 300px;
  background: aqua; }

.h-tagline {
  padding-top: 40px;
  clear: both;
  text-align: center;
  color: #fff; }
  .h-tagline a {
    margin-top: 40px;
    color: #fff;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .h-tagline p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .h-tagline h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 60px; }
  .h-tagline .btn-h {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #fff; }
  .h-tagline .active {
    color: red; }

/*# sourceMappingURL=app.css.map */
