.h-tagline{
    clear: both;
    text-align: center;
    color: #fff;

    a {
      margin-top: 40px;
      color: #fff;
      text-decoration: none;
    }


  p,h1 {
    @include shadow-t;
  }
  h1 {
      margin-bottom: 60px;
  }

  .btn-h {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #fff;
  }

}
