.r-form{
  background: url(http://lorempixel.com/960/300/city/2/);
  height: 300px;

  fieldset {
    border: none;
  }
  fieldset.fs-l,, fieldset.fs-r {
    width: 960/2*1px - 40px;
    margin-top: 25px;
  }
  .fs-l {
    float: left;
    .d-i {
      float: right;
      input {
        height: 30px;
        &:focus {
          border: 2px green solid;
        }
      }
      input[type="text"]{
        margin-bottom: 32px;
      };
    }
    input {
      display: block;
    }
  }
  .fs-r {
    float: right;
    button {
      bottom: 0;
    }
    textarea {
      resize: none;
    }

  }


}
