.r-news{
    @include news-font;
    padding: 10px 25px;
  .col-th {
    height: 250px;
    float: left;
    width: (100/3)*1%;
    padding: 10px 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h2 {
      padding-left: 140px;
    }
  }

}
