.r-partners {
  height: 300px;
  .par {
    float: left;
    width: (100/3)*1%;
    text-align: center;

    a {
      color: #fff;
      background: #111;
      padding: 2px 5px;
      margin-left: -2px;
      font-weight: 800;
      &:hover {
        color: #111;
        background: #fff;
        border: 1px solid #111;
      }

      &.mak {
        background: $ac-col;
        &:hover {
          color: $ac-col;
          background: #fff ;
        }
      }
    }
  }
  h2 {
    @include h2-up;
    text-align: center;
  }
  p {
    margin: 0px;
    margin-bottom: 5px;
  }
}
