.services-page {

  $active : #eead45;

  .r-services {
    height: 800px;
    padding-top: 30px;

    .ser-group{
      margin-top: 30px;
    }

    .ser{
      width: 200px;
      float: left;
      margin: 0 20px;
      }
  }
}
