@mixin nav-b {
    ul {
    list-style: none;
    li {
      display: inline-block;
      float: left;
      margin: 15px;
      padding-right: 5px;
      padding-bottom: 5px;

      a {
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        @include shadow-t;
      }
    }
  }

  .active {
    color: $ac-col;
  }
}
