body {
  @include b-sng;
  @include news-font;
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}
