header {
  width: 960px;
  @include h-font;
  margin: auto;
  color: #000;




  nav {
    @include nav-b;

    ul {
      li {
        a{
          padding-bottom: 5px;
          border-bottom: 2px solid;
        }
      }
    }

  }

  .active {
    color: $ac-col;
  }

}
