header {
  // background-img : url(http://lorempixel.com/960/400/city/6/);
  @include f-sans-serif;
  h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  nav {
    @include nav-b;
    ul {
      float: right;
      li {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
